/*
body{
    background-image:url('http://marchamilton.smugmug.com/Evan-Hamilton/San-Francisco/i-QLCJbJM/0/X3/IMG_1318-X3.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}
*/

body{
	background-image:url('https://farm6.staticflickr.com/5593/15008200430_5c2458f225_c_d.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
